<div class="agt-card agt-ability-card"
	 [class.magic-ability-card]="card.type === 'Magic'"
	 [class.stealth-ability-card]="card.type === 'Stealth'"
	 [class.combat-ability-card]="card.type === 'Combat'"
	 [class.tech-ability-card]="card.type === 'Tech'">
	<p class="agt-card-title text-center">{{ card.title }}</p>
	<div class="agt-card-graphic"></div>
	<div class="agt-ability-card-value">
		<span>{{ card.value }}</span>
	</div>

	<div class="agt-ability-card-text-block">
		<p class="medium-text" *ngIf="card.deployText">DEPLOY: {{ card.deployText }}</p>
		<p class="medium-text" *ngIf="card.discardText">DISCARD: {{ card.discardText }}</p>
		<p class="medium-text" *ngIf="card.skillCheckText">SKILL CHECK: {{ card.skillCheckText }}</p>
	</div>

	<div *ngIf="actions" class="actions">
		<button *ngFor="let action of actions"
				class="btn btn-info"
				(click)="actionHandler.emit(action)">
			{{ action }}
		</button>
		<button class="btn btn-info"
				(click)="card.marked = !card.marked">
			Mark
		</button>
	</div>
</div>

<div *ngIf="card.marked" class="card-marked"></div>
