@import '../../variables';

.agt-card-container {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 30px 0;
}

.agt-encounter-card {

	&.green-encounter-card {
		border-color: $agt-green-card-back-color;
		background-color: $agt-green-card-front-color;
	}

	&.yellow-encounter-card {
		border-color: $agt-yellow-card-back-color;
		background-color: $agt-yellow-card-front-color;
	}

	&.red-encounter-card {
		border-color: $agt-red-card-back-color;
		background-color: $agt-red-card-front-color;
	}

	&.black-encounter-card {
		border-color: $agt-black-card-back-color;
		background-color: $agt-black-card-front-color;
	}
}

.applicable-skills {
	display: flex;
	justify-content: center;
	background-color: white;

	.skill-bar {
		height: 10px;
		width: 25%;
		opacity: .3;

		&.combat {
			background-color: $agt-combat;
		}

		&.magic {
			background-color: $agt-magic;
		}

		&.tech {
			background-color: $agt-tech;
		}

		&.stealth {
			background-color: $agt-stealth;
		}

		&.applicable {
			opacity: 1;
		}
	}
}

.skill-check-difficulty {
	font-size: 20px;
}


.luck-icon {
	position: absolute;
	bottom: 0;
	right: 0;
	display: flex;
	align-items: center;
	font-size: 15px;

	.luck-dice-number {
		font-size: 18px;
	}
}
