@import '../../../variables';

.Magic {
	background-color: $agt-magic;
}

.Stealth {
	background-color: $agt-stealth;
}

.Combat {
	background-color: $agt-combat;
}

.Tech {
	background-color: $agt-tech;
}
