<div class="agt-card deck-back" [style.background-color]="'black'">
	<h2>{{ deck.cardType }}</h2>

	<div class="actions">
		<button class="btn btn-info"
				(click)="drawInfiltration()">
			Draw
		</button>
		<input type="text" [(ngModel)]="infiltrationName" class="form-control" />
		<button class="btn btn-info" (click)="drawSpecificInfiltration()">Draw Specific</button>
		<button class="btn btn-info">Shuffle</button>
		<button class="btn btn-info">View</button>
	</div>
</div>

<agt-deck-stats [deck]="deck"></agt-deck-stats>
