:host {
	position: fixed;
	padding: 15px;
	right: 0;
	top: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: gainsboro;
	border: 1px solid gray;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}
