$agt-stealth: rgb(41, 81, 109);
$agt-stealth-muted: rgba(41, 81, 109, .02);
$agt-combat: rgb(170, 88, 57);
$agt-combat-muted: rgba(170, 88, 57, .02);
$agt-tech: rgb(39, 117, 82);
$agt-tech-muted: rgba(39, 117, 82, .02);
$agt-magic: rgb(170, 121, 57);
$agt-magic-muted: rgba(170, 121, 57, .02);
$agt-neutral: gray;

$agt-card-background: #F5F5F5;

$agt-green-card-back-color: rgb(0, 83, 5);
$agt-yellow-card-back-color: rgb(231,180,22);
$agt-red-card-back-color: rgb(204,50,50);
$agt-black-card-back-color: rgb(0,0,0);

$agt-green-card-front-color: rgba(0, 83, 5, .02);
$agt-yellow-card-front-color: rgba(231,180,22, .02);
$agt-red-card-front-color: rgba(204,50,50, .02);
$agt-black-card-front-color: rgba(0,0,0, .02);



