$agt-stealth: #29516D;
$agt-combat: #AA5839;
$agt-tech: #277552;
$agt-magic: #AA7939;
$agt-neutral: gray;

$agt-card-background: #F5F5F5;

$agt-green-card-back-color: rgb(0, 83, 5);
$agt-yellow-card-back-color: rgb(231,180,22);
$agt-red-card-back-color: rgb(204,50,50);
$agt-black-card-back-color: rgb(0,0,0);

$agt-green-card-front-color: rgba(0, 83, 5, .02);
$agt-yellow-card-front-color: rgba(231,180,22, .02);
$agt-red-card-front-color: rgba(204,50,50, .02);
$agt-black-card-front-color: rgba(0,0,0, .02);



