<div class="agt-card agt-character-card">
				<span class="character-name">
					{{ character.name }}
				</span>
	<div class="container-fluid">
		<div class="character-card-row row">
			<div class="col-4 portrait-bio-column">
				<div class="portrait-container">
					<div class="portrait"></div>
				</div>
				<p class="x-small-text"><b>Bio:</b> {{ character.bio }}</p>
			</div>
			<div class="col-8 stats-column">
				<p class="large-text text-center"><b>Skills:</b></p>
				<div class="container">
					<hr>
					<ng-container *ngFor="let stat of ['combat', 'magic', 'stealth', 'tech']">
						<ng-container *ngIf="character.stats[stat].maxValue > 0">
							<div class="row">
								<span class="medium-text stat-name-text">{{ stat.substring(0, 1).toUpperCase() + stat.substring(1)}}</span>
								<ng-container *ngFor="let point of [1, 2, 3, 4]">
									<ng-container *ngIf="character.stats[stat].maxValue >= point">
										<div class="stat-point-container">
											<i class="fa fa-fw fa-circle-o"
											   (click)="setCharacterStat(stat, point)"
											   [class.fa-circle-o]="character.stats[stat].currentValue < point"
											   [class.fa-circle]="character.stats[stat].currentValue >= point">
											</i>
											<span class="x-small-text attribute-text">{{ character.stats[stat].attributes[point - 1] }}</span>
										</div>
									</ng-container>
								</ng-container>
							</div>
							<hr>
						</ng-container>
					</ng-container>
				</div>

			</div>
		</div>
	</div>

	<div class="health-and-favor">
		<p>
			<i *ngIf="interactive" class="fa fa-arrow-left" (click)="reduceHealth()"></i>
			{{ character.health }} <i class="ra ra-health"></i>
			<i *ngIf="interactive" class="fa fa-arrow-right" (click)="addHealth()"></i>
		</p>

		<p>
			<i *ngIf="interactive" class="fa fa-arrow-left" (click)="reduceFavor()"></i>
			{{ character.favor }} <i class="ra ra-double-team"></i>
			<i *ngIf="interactive" class="fa fa-arrow-right" (click)="addFavor()"></i>
		</p>
	</div>

	<div class="equipment-slots">
		<div class="equipment-slot flex-all-centered" *ngFor="let slot of ['player', 'helmet', 'footprint', 'hand']">
			<i [class]="'ra ra-2x ra-' + slot"></i>
		</div>
	</div>
</div>
