@import '../../../../variables';

.agt-character-card {
	width: 900px;
	height: 500px;
	border-color: $agt-magic;
	background-color: $agt-magic-muted;
}

.portrait-bio-column {
	display: flex;
	flex-direction: column;
	align-items: center;

	.portrait-container {
		display: flex;
		justify-content: center;
		margin-bottom: 5px;

		.portrait {
			background-color: white;
			width: 250px;
			height: 250px;
			border: 1px solid black;
		}
	}
}

.stats-column {

	.stat-name-text {
		width: 100px;
	}
}

.character-name {
	font-size: 20px;
	display: flex;
	justify-content: center;
}

.stat-point-container {
	display: inline-flex;
	align-items: center;
	flex-direction: column;
	width: 100px;

	.attribute-text {
		padding: 5px 0;
		text-align: center;
	}
}

.health-and-favor {
	position: absolute;
	top: 5px;
	right: 5px;
}

.equipment-slots {
	position: absolute;
	bottom: 0;
	left: 0;
	display: flex;
	width: 100%;
	justify-content: space-around;

	.equipment-slot {
		width: 200px;
		height: 30px;
		border-top: 2px solid black;
		border-left: 2px solid black;
		border-right: 2px solid black;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		padding: 18px 0;
	}
}
